.main-component{
    display: flex;
    flex-direction:column;
    margin: 1.2rem 1rem 1.2rem 1rem;
    background-color: white ;
    border-radius: 0.5rem;
    padding:1rem 2rem;
}

.comp-heading{
    font-weight: bolder;
    color:var(--text-light);
}
.comp-desc{
    margin-top:1rem;
    font-size: var(--text-size);
    color: black;
}

.comp-flex{
    display:flex;
    justify-content:center;
    margin-top:1rem;
}

.divider{
    margin-top: 1rem;
    border: 2px dashed;
}

.underline{
    text-decoration:underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 0.2rem;
}

.comp-display{
    display: flex;
    flex-direction:row;
    width:100%;
    align-items: center;
    justify-content:space-evenly;
}

.comp-code-display{
    display:flex;
    justify-content:center;
    margin-top:2rem;
}

