:root{
    --text-dark:#C16CF1;
    --text-light:#693a85;
    --bg-light:#E2DFDF;
    --bg-dark:#201D1D;
}
/* --bg-dark:#363031; */
/* --bg-light:#B8C2CC; */
*{ 
    margin:0;
    padding:0;
}

body{
    background-color: var(--bg-light);
}

.header{
    background-color: var(--bg-dark);
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: var(--text-dark);
    align-items:center;
}

.main-heading{
    /* margin-left:auto; */
    font-weight: 400;
    font-size: 2rem;  
    padding: 1rem 2rem;  
}

.side-heading{
    margin-left:auto;
    font-size: 1.5rem;
    padding: 1rem 3rem;
}

.main-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:calc(100vh-4rem);
    padding: 1rem 1rem;  
    word-wrap: normal;
    align-items: center;
    justify-content: center;
    align-content: center;
    column-gap: 3rem;
}

.description{
    display: flex;
    /* color:#5d58b8; */
    line-height:2.2rem;
    flex-direction: column;
    margin-top:3rem;
    font-size: 1.6rem;
    
    width:40%;    /* should not in mobile */
}

.description-head{
    margin-bottom: 1rem;
    font-size: 2rem;
    color:var(--text-light);
    font-weight:600;
}

.btns {
    /* align-items: center; */
    /* justify-content: center; */
    margin-top:1.5rem;
    display: flex;
    column-gap: 3rem;
}

.start-btn,.view-btn{ 
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    max-width:fit-content;
    border: var(--bg-dark) solid 2px;
    border-radius: 5px;
}

.start-btn{
    background-color: var(--bg-dark);
    color:var(--text-dark);
}

.view-btn{
    background-color: var(--bg-light);
    color:var(--text-light);
}

.start-btn:hover{
    background-color: var(--bg-light);
    /* opacity:80%; */
    scale:1.1;
    transition: 250ms;
    color:var(--text-light);
}

.view-btn:hover{
    background-color: var(--bg-dark);
    scale:1.1;
    transition: 250ms;
    color:var(--text-dark);
}

a{
    text-decoration: none;  
}

.hero-img{
    /* margin-top:1rem; */
    width: 20rem;
    height: 20rem;
}