.avatar{
    border-radius: 50%;
    border: 2px solid var(--bg-dark);
}

/* large avatar*/
.large{
    height: 8rem;
    width: 8rem;    
}

/* medium avatar*/
.medium{
    height: 6rem;
    width: 6rem;
}

/* small avatar*/
.small{
    height: 4rem;
    width: 4rem;
}

/* extra-small avatar*/
.xsmall{
    height: 3rem;
    width: 3rem;
}