<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Anupam Srivastava">
    <title>Decora</title>
    <link rel="stylesheet" href="../../css/style.css">
    <script src="https://kit.fontawesome.com/7966d641ca.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <nav class="header">
            <a href="../../index.html" class="main-heading">
                Decora
            </a>
            <a href="../../installation.html" class="side-heading">
                Install
            </a>
        </nav>
        <div class="contents">
            <nav class="side-nav">
                <ul>
                    <li class="item">
                        <a href="../avatar/avatar.html">Avatar</a>
                    </li>
                    <li class="item">
                        <a href="../alert/alert.html">Alert</a>
                    </li>
                    <li class="item">
                        <a href="../badge/badge.html">Badge</a>
                    </li>
                    <li class="item">
                        <a href="../button/button.html">Button</a>
                    </li>
                    <li class="item">
                        <a href="../card/card.html">Card</a>
                    </li>
                    <li class="item">
                        <a href="../image/image.html">Image</a>
                    </li>
                    <li class="item">
                        <a href="../input/input.html">Input</a>
                    </li>
                    <li class="item">
                        <a class="active" href="./text-util.html">Text Utils</a>
                    </li>
                    <li class="item">
                        <a href="../list/list.html">List</a>
                    </li>
                    <li class="item">
                        <a href="../navigation/navigation.html">Navigation</a>
                    </li>
                    <li class="item">
                        <a href="../toast/toast.html">Toast</a>
                    </li>
                    <li class="item">
                        <a href="../modal/modal.html">Modal</a>
                    </li>
                    <li class="item">
                        <a href="../rating/rating.html">Rating</a>
                    </li>
                    <li class="item">
                        <a href="../grid/grid.html">Grid</a>
                    </li>
                    <li class="item">
                        <a href="../slider/slider.html">Slider</a>
                    </li>
                </ul>
            </nav>
            <div class="main-component">
                <h1 class="comp-heading">Text Utils</h1>
                <hr>
                <p class="comp-desc">
                    Text utilities are components to style your text or heading. Following are different types of text
                    or headings that can be used to enhance any project.
                    <br>
                    <br>
                </p>
                <h2 class="comp-headng underline">Headings</h2>
                <div class="comp-flex">
                    <div class="comp-display">
                        <div class="text-container">
                            <div class="head1">Heading 1</div>
                            <div class="head2">Heading 2</div>
                            <div class="head3">Heading 3</div>
                        </div>
                    </div>
                </div>
                <div class="comp-code-display">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C0.95%29&t=vscode&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522head1%2522%253EHeading%25201%253C%252Fdiv%253E%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%253Cdiv%2520class%253D%2522head2%2522%253EHeading%25202%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522head3%2522%253EHeading%25203%253C%252Fdiv%253E"
                        style="width: 100%; height: 20rem; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>



                </div>
                <hr class="divider">
                <div class="gutter"></div>
                <h2 class="comp-headng underline">Text</h2>
                <div class="comp-flex">
                    <div class="comp-display">
                        <div class="text-container">
                            <div class="text sm">This is small text</div>
                            <div class="text bold">This is bold text</div>
                            <div class="text center">This is center</div>
                            <div class="text gray">This is gray text</div>
                        </div>
                    </div>
                </div>
                <div class="comp-code-display">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C0.95%29&t=vscode&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522text%2520sm%2522%253EThis%2520is%2520small%2520text%253C%252Fdiv%253E%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%253Cdiv%2520class%253D%2522text%2520bold%2522%253EThis%2520is%2520bold%2520text%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522text%2520center%2522%253EThis%2520is%2520center%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522text%2520gray%2522%253EThis%2520is%2520gray%2520text%253C%252Fdiv%253E"
                        style="width: 100%; height: 20rem; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>

                </div>

            </div>
        </div>
    </div>
</body>

</html>