<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decora</title>
    <link rel="stylesheet" href="../../css/all.css">
    <script src="https://kit.fontawesome.com/7966d641ca.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">
        <nav class="header">
            <a href="../../index.html" class="main-heading">
                Decora
            </a>
            <div class="side-heading">
                Docs
            </div>
        </nav>
        <div class="contents">
            <nav class="side-nav">
                <ul>
                    <li class="item">
                        <a href="../avatar/avatar.html">Avatar</a>
                    </li>
                    <li class="item">
                        <a class="active" href="./alert.html">Alert</a>
                    </li>
                    <li class="item">
                        <a href="../badge/badge.html">Badge</a>
                    </li>
                    <li class="item">
                        <a href="../button/button.html">Button</a>
                    </li>
                    <li class="item">
                        <a href="../card/card.html">Card</a>
                    </li>
                    <li class="item">
                        <a href="../image/image.html">Image</a>
                    </li>
                    <li class="item">
                        <a href="../input/input.html">Input</a>
                    </li>
                    <li class="item">
                        <a href="../text/text-util.html">Text Utils</a>
                    </li>
                    <li class="item">
                        <a href="../list/list.html">List</a>
                    </li>
                    <li class="item">
                        <a href="../navigation/navigation.html">Navigation</a>
                    </li>
                    <li class="item">
                        <a href="../toast/toast.html">Toast</a>
                    </li>
                    <li class="item">
                        <a href="../modal/modal.html">Modal</a>
                    </li>
                    <li class="item">
                        <a href="../rating/rating.html">Rating</a>
                    </li>
                    <li class="item">
                        <a href="../grid/grid.html">Grid</a>
                    </li>
                    <li class="item">
                        <a href="../slider/slider.html">Slider</a>
                    </li>
                </ul>
            </nav>
            <div class="main-component">
                <h1 class="comp-heading">Alert</h1>
                <hr>
                <p class="comp-desc">
                    An alert displays a short, important message in a way that attracts the user's attention without interrupting the user's task. 
                </p>
                
                <div class="comp-flex alert-display">
                <div class="comp-display ">
                    <div class="alert primary">
                        <i class="fa-solid fa-bell mr-5"></i>
                        Primary message alert
                    </div>
                </div>
                </div>
                <div class="comp-code-display">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28193%2C108%2C241%2C1%29&t=vscode&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522alert%2520primary%2522%253E%253Ci%2520class%253D%2522fa-solid%2520fa-bell%2520mr-5%2522%253E%253C%252Fi%253E%2520Primary%2520message%2520alert%2520%253C%252Fdiv%253E"
                        style="width: 100%; height: 13rem; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>


                </div>
                <hr class="divider">
                <div class="comp-flex alert-display">
                    <div class="comp-display">
                        <div class="alert success green">
                            <i class="fa-solid fa-circle-check green mr-5" ></i>
                        Success message alert
                        </div>
                    </div>
                </div>
                <div class="comp-code-display">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28193%2C108%2C241%2C1%29&t=vscode&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522alert%2520success%2520green%2522%253E%253Ci%2520class%253D%2522fa-solid%2520fa-circle-check%2520green%2520mr-5%2522%2520%253E%253C%252Fi%253E%250ASuccess%2520message%2520alert%253C%252Fdiv%253E"
                        style="width: 100%; height: 14rem; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
                <hr class="divider">
                <div class="comp-flex alert-display">
                    <div class="comp-display">
                        <div class="alert error red">
                            <i class="fa-solid fa-circle-xmark red mr-5"></i>
                            Error message alert
                        </div>
                    </div>
                </div>
                <div class="comp-code-display">
                    <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28193%2C108%2C241%2C1%29&t=vscode&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522alert%2520error%2522%253E%253Ci%2520class%253D%2522fa-solid%2520fa-circle-xmark%2520red%2520mr-5%2522%253E%253C%252Fi%253E%2520%2520%2520%2520%2520%2520%2520%2520%2520%250AError%2520message%2520alert%253C%252Fdiv%253E%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520"
                    style="width: 100%; height: 14rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                  
                </div>
                <hr class="divider">
                <div class="comp-flex alert-display">
                    <div class="comp-display">
                        <div class="alert warning golden">
                            <i class="fa-solid fa-triangle-exclamation golden mr-5" ></i>
                            Warning message alert
                        </div>
                    </div>
                </div>
                <div class="comp-code-display">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28193%2C108%2C241%2C1%29&t=vscode&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522alert%2520warning%2522%253E%253Ci%2520class%253D%2522fa-solid%2520fa-triangle-exclamation%2520golden%2520mr-5%2522%253E%253C%252Fi%253E%250AWarning%2520message%2520alert%2520%253C%252Fdiv%253E"
                        style="width: 100%; height: 14rem; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>

                  
                </div>
            </div>
        </div>
    </div>
</body>

</html>