.comp-flex>.comp-display{
    flex-direction:column;
    align-items: flex-start;
    
}

.comp-flex{
    margin: 0rem auto;    
}

.alert{
    font-size: var(--text-size);
    border: 2px solid ;
    width:100%;
    border-radius:var(--corner);
    padding: 0.4rem 1rem;
    margin-bottom: 0.5rem;
}

i {
    margin-right: 0.5rem;
}

.primary{
    background-color: #e1adff;
}
.success{
    color: green;
    border-color:green;
    background-color: rgb(175, 233, 175);
}

.error{
    color: rgb(199, 35, 35);
    border-color: rgb(199, 35, 35);  
    background-color: rgb(253, 182, 182);
}

.warning{
    color: darkgoldenrod;
    border-color:darkgoldenrod;
    background-color: rgb(255, 230, 167);
}