.alert-display{
    margin: 2rem auto 0rem;    
}

.alert{
    font-size: var(--text-size);
    border: 2px solid ;
    width:100%;
    border-radius:var(--corner);
    padding: 0.4rem 1rem;
    margin-bottom: 0.5rem;
}

i {
    margin-right: 0.5rem;
}

.primary{
    background-color: var(--bg-violet);
}

.success{
    background-color: var(--bg-green);
}

.error{
    background-color: var(--bg-red);
}

.warning{
    background-color: var(--bg-golden);
}